* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box

}

body {
    display: flex;
    background: lightgray;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(120deg, #3498db,#8e44ad);
        align-items: center;
}


.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

}

.header {
    text-align: center;
    margin-bottom: 100px;

}

#logoff_button {
    display: inline-block;
    margin-top: 50px;
    /*border: 1px solid black;*/
    padding: 10px;
    width: 200px;
    text-align: center;
    color: white;

    background: linear-gradient(120deg, #3498db, #8e44ad,#3498db );
    background-size: 200%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    border: 1px solid rgba(255,255,255,0.3);

}

#logoff_button:hover {
    background-position: right;
    /*font-size: 1.5em;*/
    font-weight: bold;
    letter-spacing: 10px;
    box-shadow: #fff 0 0 15px;
    border: none;

}

#p_question {
    font-size: 5em;
    margin-bottom: 100px;
    text-align: center;

}

.answerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answerBox input {
    text-align: center;
    font-size: 3em;
    background: none;
    outline: none;
    border: none;
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
    }

.answerBox input::placeholder {
    color: rgba(0,0,0,0.05);
}

.answerBox input[type = "submit"] {
    display: none;

}